.panda-card-footer{
    background-color: white;
    border:0;
}
.categories img{
    width: 100px;
    border-radius: 10%;
}
.panda-slide .carousel-item{
background-color:#fceae8
}
.panda-card{
    margin: 0%;
}